#gameboard-container {
    justify-content: center;
    height: 420px;
    min-width: 420px;
}

.winner {
    border: 4px solid forestgreen;
    border-radius: 3px;
}


.row {
    display: flex;
    margin: 0;
    padding: 0;
    clear: both;
    content: "";
}

.cell {
    width: 40px;
    height: 40px;
    border: 1px solid #999;
}

.missed {
    background-color: blue;
}

.hit {
    background-color: red;
}

.ship {
    background-color: green;
}

.mock {
    background-color: grey;
}

#game-over {
    margin: 0 auto;
}

#title {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn {
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(112, 112, 156);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 25px;
}

.btn:hover{
    background-color: rgb(88, 88, 133);
}

.btn:focus {
    outline: none;
}

#input-container{
    margin-top: 15px;
    margin-bottom: 15px;
}

#coordinates {
    width: 30px;
    text-align: center;
}